pysqlite3
python-dotenv
unstructured[all]
pdfminer.six
Pillow
pillow_heif
opencv-python-headless
pdf2image
python-pptx
networkx
pandas
markdown
chromadb
pysqlite3-binary
langchain_community
langchain_experimental
langchain_openai
Databases
asyncpg
psycopg2
python-multipart
faiss-cpu
selenium