uvicorn
fastapi
python-dotenv
unstructured
pdf2image

pdfminer.six
pillow_heif
opencv-python
python-pptx
networkx
pandas
python-docx
markdown
chromadb
langchain_community
langchain_experimental
langchain_openai
python-multipart
faiss-cpu
AutoGPT
selenium
google-api-python-client
langchainhub
web3